#optionbarCont{
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  color: #808893;
  flex-wrap: wrap;
}
.search-bar{
  position: relative;
}
.search-bar input{
  width: 300px;
  box-shadow: none !important;
}
.search-bar input:focus-visible,.search-bar input:focus,.search-bar input:active{
  border: 1px #006fff solid;
  box-shadow: none;
  outline: none;
}
.searchIcon{
  position: absolute;
  left: 10px;
  top: 8px;
}
#optionbarCont div{
  align-self: center;
}
.optionLeft{
  display: flex;
}
.deviceCount{
  font-size: 12px;
  margin-left: 30px;;
}
.optionLeft input{
  padding: 10px;
  border: 1px #fff solid;
  background: #f6f6f5;
  padding-left:35px;
  border-radius: 5px;
}
.optionRight{
  margin-left: auto;
  display: flex;
}

.optionRight button:hover{
  cursor: pointer;
  background: #f4f5f6;
}
.optionRight button{
  border: 1px #fff solid;
  border-radius: 5px;
  margin-right:20px;
  padding:2px 5px;
  padding-top: 4px;
  background: none;
  transition: background .5s;
  color: #808893;
}
.optionRight button:focus{
  border: 1px #006fff solid;
  border-radius: 5px;
  color: #006fff;
  background: #f4f5f6;
}
.optionRight button:focus:hover{
  background: #f4f5f6;
}
#filterCont{
  position: relative;
  width: fit-content;
}
#filterDropBox{
  position: absolute;
  width: 130px;
  z-index: 100;
  text-align: left;
  padding:10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #c8c8c9;
  left: -70px;
  top:30px;
  background-color: white;
}

#filterDropBox label{
  display: block;
  padding-bottom: 7px;
  padding-left: 3px;
}
label input{
  margin-right: 7px;
}
.filterDropBoxTitle{
  margin-bottom: 10px;
  color:#222;
  padding-left: 5px;
  font-weight: 600;
}
.filterDropBoxReset{
  margin-bottom: 10px;
  color:#f03a3e;
  cursor: pointer;
  padding-left: 5px;
  font-weight: 600;
}
.disabled{
  cursor:unset;
  opacity: .4;
}

@media (max-width:700px){
  .optionLeft{
    justify-content: center;
    width: 100%;
  }
  .optionCont{
    display: block;
  }
  .search-bar input{
    width: 250px;
    box-shadow: none !important;
  }
  .optionRight{
    margin:0 auto;
    padding-top: 20px;
  }
}