#optionbarCont{
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  color: #808893;
  flex-wrap: wrap;
}
.search-bar{
  position: relative;
}
.search-bar input{
  width: 300px;
}
.searchIcon{
  position: absolute;
  left: 10px;
  top: 8px;
}

#optionbarCont div{
  align-self: center;

}
.optionLeft{
  display: flex;
  
}
.deviceCount{
  font-size: 12px;
  margin-left: 30px;;
}
.optionLeft input{
  padding: 10px;
  background: #f6f6f5;
  border: none;
  padding-left:35px;
  border-radius: 5px;
}
.optionRight{
  margin-left: auto;
  display: flex;
}

.optionRight button:hover{
  cursor: pointer;
  background: #f4f5f6;
}
.optionRight button{
  border: 1px #fff solid;
  border-radius: 5px;
  margin-right:20px;
  padding:2px 5px;
  padding-top: 4px;
  background: none;
  transition: background .5s;

}
.optionRight button:focus{
  border: 1px #006fff solid;
  border-radius: 5px;
  background: #f4f5f6;
}
.optionRight button:focus:hover{
  background: #f4f5f6;
}