/* PRODUCT BAR */
.prodBarCont{
  display: flex;
  justify-content: space-between;
  padding: 30px 35px;
}

.prodBarCont .button{
  padding: 5px;
  background-color: white;
  border: none;
  box-shadow: 3px 3px 10px #dad9d9;
  color: #8c8c8c;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
  transition: background .5s;
}

.prodBarCont .button:hover{
  background-color: #f4f5f6;
}

.prodBarRight{
  display: flex;
}
.prodBarRight .button{
  margin-left: 20px;
  padding: 2px 5px;
  padding-top:5px;
}
.backButton{
  display: flex;
}

.backButton div{
  display: flex;
}
.button img{
  align-self: center;
}

#productCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:30px;
}
.prodRight{
  max-width: 400px;
  width: 100%;
}
.prodLeft{
  margin-right: 50px;
}
.prodImageHolder{
  border-radius: 5px;

  padding:40px 30px;
  background:#f9fafa;
}
.prodPlaceholderImg{
  background:#f9fafa;
  height: 257px;
  height: 257px;
}
.prodLine{
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;;
}

.prodTitle{
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  margin-bottom: 5px;;
}

.prodSmallText{
  text-align: left;
  font-size: 12px;
  margin-bottom: 30px;
  color: #8c8c8c;
}
.prodRightText{
  color: #8c8c8c;
}
.jsonDetails{
  max-width: 800px;
  display: block;
  margin:0 auto;
}
.jsonCont button{
  cursor: pointer;
  text-align: left;
  color: #006fff;
  background: none;
  padding:5px 1px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.jsonCont{
  padding-bottom: 30px;;

  text-align: left;
}
.jsonCont button:hover{
  color: #0059cc;
}
.jsonCont button:focus{
  border: 1px solid #0059cc;
}
.jsonDetailsCont{
  width: 100%;
}